<div class="banner text-center" style="background-image: url('<%= image_path "cocktails-image" %>')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Sauvegarde les meilleurs recettes de cocktail</h1>
  </div>
</div>


<!-- <div class="container-fluid banner_height">
  <%= image_tag "cocktails-image.jpg", {class: "img-responsive", id: "logo"} %>
</div> -->

  <div class="container">
    <div class="row">

      <% @cocktails.each do |cocktail| %>

        <div class="col-xs-12 col-sm-4">
          <div class="card">
<!--             <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=25')"></span> -->
            <span class="card-bg"  style="background-image: url('<%= image_path cocktail.picture %>')"></span>
            <span class="card-gradient"></span>
            <span class="card-category"> Awesome cocktails </span>
            <span class="card-text">
              <h2><%= cocktail.name %></h2>
              <%= link_to 'Voir la recette', cocktail_path(cocktail), class: "navbar-wagon-item navbar-wagon-button btn" %>
            </span>
          </div>

        </div>
        <% end %>

    </div>
  </div>





