<% content_for(:title) do %>
  <%= @cocktail.name %> is good !!
<% end %>


<div class = "home_page">
<h1><%= @cocktail.name %></h1>


<% if @cocktail.doses.any? %>


  <h2> Voilà les bons ingrédients pour un <%= @cocktail.name %> réussi. </h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> - <%=dose.ingredient.name %> </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Add a Dose', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Back', cocktails_path %>
</div>
