<h1>Add a new dose </h1>
<!-- form_for @review, url: restaurant_reviews_path(@restaurant) do |f| -->
<%= simple_form_for ([@cocktail, @dose]) do |f| %>
 <%= f.error_notification %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>

  <%= f.submit %>
<% end %>







